[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"psycopg2" = "*"
lazy-property = "*"
url-normalize = "*"
"beautifulsoup4" = "*"
dateutils = "*"
requests = "*"
contexttimer = "*"
tqdm = "*"
"html2text" = "*"
lxml = "*"
nltk = "*"
numpy = "*"
lazy = "*"
dateparser = "*"
jupyter = "*"
pandas = "*"
tables = "*"
ujson = "*"


[dev-packages]



[requires]

python_version = "3.6"
